# Ignore virtual environment
Depth1_venv/

# Ignore video output folders (to large)
videos_mp4/
videos_avi/
sift_videos_mp4/
sift_videos_avi/

# Ignore saved sift features and prior data (compute them with Sift.py)
canyons_sift_features/
canyons_priors/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class